.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  justify-content: center;

  .card {
    margin: 10px auto;
  }

  .card-img-top {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.detail_page {
  .img-thumbnail {
    padding: 0.25rem;
    &.active {
      border-color: orangered;
      padding: 0.2rem;
    }
  }
}
